@model projectcv.Models.Sinif.Class1
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MY CV</title>
    <link rel="icon" type="image/x-icon" href="~/startbootstrap-resume-gh-pages/assets/img/durannnn.PNG" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="~/startbootstrap-resume-gh-pages/css/styles.css" rel="stylesheet" />

</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none"></span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/startbootstrap-resume-gh-pages/assets/img/durannnn.PNG" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyimlerim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Eğitim Hayatım</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Yeteneklerim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Hobilerim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Sertifikalar</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            @foreach (var x in Model.deger1)
            {
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        @x.NAME

                        <span class="text-primary">@x.SURNAME</span>
                    </h1>
                    <div class=" mb-5">
                        <span class="text-primary">
                            @x.ADDRESS
                        </span> · @x.PHONE ·
                        <a href="mailto:name@email.com">@x.MAİL</a>
                    </div>
                    <p class="lead mb-5">@x.ABOUT.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/duran-%C3%BCnverdi-497b54190?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgX4A%2F9NNTp25JbC%2B%2BA7hDg%3D%3D"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/duranunverdi/"> <i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="mailto:duranunverdi1905@gmail.com"><i class="fa fa-location-arrow"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/duran.unverdi.3"><i class="fab fa-facebook-f"></i></a>
                   
                        
                        
</div>
                </div>
            }
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">DENEYİMLER</h2>
                @foreach (var x in Model.deger2)
                {
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">



                        <div class="flex-grow-1">

                            <h3 class="mb-0">@x.TITLE</h3>
                            <div class="subheading mb-3">@x.SUBTITLE</div>
                            <p>@x.DETAILS</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">@x.DATE</span></div>


                    </div>
                }


            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">EĞİTİM HAYATI</h2>
                @foreach (var x in Model.deger3)
                {
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">@x.TITLE</h3>
                            <div class="subheading mb-3">@x.SUBTITLE</div>
                            <div>@x.DEPARTMENT</div>
                            <p>GNO :@x.GPA</p>
                        </div>
                    </div>
                }
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">YETENEKLER</h2>
                <div class="subheading mb-3">Programlama Dilleri &amp; Araçlar</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    <li class="list-inline-item"><i class="fab fa-java"></i></li>

                </ul>
                <div class="subheading mb-3">Diller ve teknolojiler</div>
                @foreach (var x in Model.deger4)
                {
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <b>  @x.SKILL</b>
                        </li>

                    </ul>
                }
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">

            <div class="resume-section-content">
                <h2 class="mb-5">Hobilerim</h2>
                @foreach (var x in Model.deger5)
                {
                   <ul><li><p><b>@x.INTEREST</b></p></li></ul> 
                }
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Seminerler ve sertifikalar</h2>
                @foreach (var x in Model.deger6)
                {
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            <b> @x.AWARD</b>
                           
                        </li>

                    </ul>
                }
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/startbootstrap-resume-gh-pages/js/scripts.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
